
<ion-view hide-nav-bar="true">
<ion-content  style="background:#52c877;" padding>

<br><br>
<center><img src="img/ionic.png">
<br>
<br><br>
   <ion-row>

<p style="    font-size: 15px;">Enter 4 digit PIN</p>
<br>
 <form style="width: 70%;
    margin: 0 auto;">

    <input class="otopclass"  placeholder="0" maxlength="1" tabindex="1"   ng-keyup="toUnicode($event)">
    <input class="otopclass"   placeholder="0" maxlength="1" tabindex="2"   ng-keyup="toUnicode($event)" >
    <input class="otopclass"   placeholder="0" maxlength="1" tabindex="3"   ng-keyup="toUnicode($event)">
    <input  class="otopclass"  placeholder="0" maxlength="1" tabindex="4"   ng-keyup="toUnicode($event)" >
    
</form>  

  </center>
 </ion-row>



</ion-content>
</ion-view>